# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/fjhpocwi/portfolio"
PassengerBaseURI "/"
PassengerNodejs "/home/fjhpocwi/nodevenv/portfolio/20/bin/node"
PassengerAppType node
PassengerStartupFile site.js
PassengerAppLogFile "/home/fjhpocwi/portfolio"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END