:root{
    --ambientGrey:#141414;
    --smoothWhite:#e0e0e0;
}


.loader{
    width: 100%;
    height: 100%;
    background-color: none;
    position: relative;
}

.loaderReduce{
    animation: loaderReduce 1s forwards ease 1.7s;
}

@keyframes loaderReduce{
    from {
        height: 100%;
    }
    to{
        height: 0%;
    }
}

.panel{
    margin: 0;
    padding: 0;
    position: absolute;
}


.leftPanel{
    top: 0;
    left: 0;
    transition: 1s all;
}

.rightPanel{
    top: 0;
    right: 0;
    transition: 1s all;
}

.lpLeave{
    animation: lpLeaveAnim 1s forwards;
    animation-delay: 1s;
}
.a{
    animation: rpLeaveAnim 1s forwards;
    animation-delay: 1s;
}

@keyframes lpLeaveAnim {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}
@keyframes rpLeaveAnim {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}

.initButtonContainer{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    height: 40%;
    aspect-ratio: 1 / 1;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Instru-Sans-bold";

    user-select: none;

    transition: all 1s;

    font-size: 50px;

    box-sizing: border-box;
}

.initBounce{
    animation: groundBounce 0.5s alternate 2 cubic-bezier(0.52, 0, 0.7, 0.26), initLeave 0.3s 1s forwards;
}

@keyframes groundBounce {
    0% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(-50%, 50%);
    }
}

@keyframes initLeave {
    from {
        font-size: 50px;
        color: black;
        height: 40%;
    }

    to {
        font-size: 0px;
        color: var(--smoothWhite);
        height: 0%;
        border: 0px solid --ambientGrey;
        opacity: 0;
    }
    
}

.centerInitButton{
    width: 75%;
    aspect-ratio: 1 / 1;
    background-color: var(--ambientGrey);
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--smoothWhite);

    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;

    transition: all 1s;
    transition: all 1s, font-size 0s;
}

.centerInitButtonOff{
    width: 0;
    font-size: 0px;
    color: var(--smoothWhite);
    transition: all 1s, font-size 0s;
}

.strokeInitButton{
    width: 95%;
    height: 95%;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    border: 10px var(--ambientGrey) solid;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--smoothWhite);

    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    animation: disformButton 2s infinite cubic-bezier(0.4, 0, 0.6, 1);

    transition: all 1s;

    box-sizing: border-box;
}

.strokeInitButtonOff{
    border: 0px var(--ambientGrey) solid;
    transition: all 1s;
}

@keyframes disformButton {
    0% {
        width: 85%;
        height: 90%;
        /* transform: translate(-50%,-50%), rotate(-120deg); */
    }
    50% {
        width: 90%;
        height: 85%;
        /* transform: translate(-50%,-50%), rotate(-240deg); */
    }
    100% {
        width: 85%;
        height: 90%;
        /* transform: translate(-50%,-50%), rotate(-360deg); */
    }
}